@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 12px;

    /* general colors */    
    --primary: 36 71% 53%;
    --primary-foreground: 0 0% 0%;

    --secondary: 212 75% 24%;
    --secondary-foreground: 0 0% 100%;

    --tertiary: 4 80% 60%;
    --tertiary-foreground: 0 0% 0%;

    /* light theme colors */
    /* ref https://www.radix-ui.com/colors/docs/palette-composition/scales for gray scale */
    --gray1: 0 0% 99%; /* bgs __ 11, 12 text */
    --gray2: 0 0% 98%; /* bgs __ 11, 12 text */
    --gray3: 0 0% 94%; /* interactive components: input, select, etc __ 11 label, 12 text  */
    --gray4: 0 0% 91%; /* interactive components: input, select, etc __ 11, 12 label, black text  */
    --gray5: 0 0% 88%; /* interactive components: input, select, etc __ 12 label, black text  */
    --gray6: 0 0% 85%; /* borders, separators __ 1-5 bgs */
    --gray7: 0 0% 81%; /* borders, separators __ 1-5 bgs */
    --gray8: 0 0% 73%; /* borders, focus rings, disabled text __ 1-5 bgs */
    --gray9: 0 0% 55%; /* solid bg, disabled text __ white text */
    --gray10: 0 0% 51%; /* solid bg, disabled text __ white text */
    --gray11: 0 0% 39%; /* secondary text, links __ bg colors */
    --gray12: 0 0% 13%; /* high-contrast text __ bg colors */
    
    --background: var(--gray1);
    --foreground: var(--gray12);

    --muted: var(--gray2);
    --muted-foreground: var(--gray11);

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --monochrome: 0 0% 0%;
    --monochrome-foreground: 0 0% 100%;

    --accent: var(--gray6);
    --accent-foreground: var(--foreground);

    --destructive: 358 69% 55%;
    --destructive-foreground: 0 0% 0%;

    --input: var(--gray3);
    --border: var(--gray6);
    --ring: var(--gray8);
  }

  /* dark theme colors */
  .dark {
    --gray1: 0 0% 7%;
    --gray2: 0 0% 10%;
    --gray3: 0 0% 13%;
    --gray4: 0 0% 16%;
    --gray5: 0 0% 19%;
    --gray6: 0 0% 23%;
    --gray7: 0 0% 28%;
    --gray8: 0 0% 38%;
    --gray9: 0 0% 43%;
    --gray10: 0 0% 48%;
    --gray11: 0 0% 71%;
    --gray12: 0 0% 93%;
    
    --background: var(--gray1);
    --foreground: var(--gray12);

    --muted: var(--gray2);
    --muted-foreground: var(--gray11);

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --monochrome: 0 0% 100%;
    --monochrome-foreground: 0 0% 0%;

    --accent: var(--gray6);
    --accent-foreground: var(--foreground);

    --destructive: 360 79% 65%;
    --destructive-foreground: 0 0% 0%;

    --input: var(--gray3);
    --border: var(--gray6);
    --ring: var(--gray8);
  }
}

@layer base {
  *, *::before, *::after {
    @apply border-border;
  }
  body {
    @apply min-h-dvh bg-background font-sans text-foreground antialiased;
  }
  h1, h2, h3, h4{
    @apply scroll-m-20 tracking-tight;
  }
  h1 {
    @apply text-4xl font-extrabold lg:text-5xl;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
}
